/* simple and responsive grid*/
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.column20{
    flex: 20%;
    padding: 15px;
}
.column25{
    flex: 25%;
    padding: 15px;
}
.column30{
    flex: 30%;
    padding: 15px;
}
.column33{
    flex: 33.33%;
    padding: 15px;
}
.column35{
    flex: 35%;
    padding: 15px;
}
.column40{
    flex: 40%;
    padding: 15px;
}
.column50{
    flex: 50%;
    padding: 15px;
}
.coumn60{
    flex: 60%;
    padding: 15px;
}
.column65{
    flex: 65%;
    padding: 15px;
}
.column70{
    flex: 70%;
    padding: 15px;
}
.column75{
    flex: 75%;
    padding: 15px;
}
.column80{
  flex: 80%;
  padding: 15px;
}
/*responsive screen*/
@media screen and (max-width: 800px){
    html{
        font-size: 10px;
    }
    .row{
        flex-direction: column;
    }
    p{
        font-size: 14px !important;
    }
    .nav-list{
        font-size: 0.90em !important;
    }
    .nav-list li a img{
       max-width: 29px;
    }
    .nav-list li > a:not(#homeicon){
    height: 35px;
    padding-top: 5px;
    }
    #homeicon{
    padding: 0px;
    padding-top: 1px;
    height: 35px;
    }
    header h3{
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media screen and (max-width:460px){
    html{
        font-size: 8px;
    }
    .nave{
        position: static !important;
    }
    .nav-list li{
        float: none !important;
    }
    h1{
      top: 5px;
    }
}
