/* simple and responsive grid*/

.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.column2{
    float: left;
    width: 50%;
    padding: 15px;
}
.column75{
    float: left;
    width: 75%;
    padding: 15px;
}
.column25{
    float: left;
    width: 25%;
    padding: 15px;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}

/*responsive screen*/
@media screen and (max-width: 600px){
    .column{
        width: 100% !important;
    }
    .column2{
        width: 100% !important;
    }
    .column25{
        width: 100% !important;
    }
    .column75{
        width: 100% !important;
    }
    .nave{
        position: static !important;
    }
    .nav-list li{
        float: none !important;
    }
    header h3{
        display: block !important;
        float: none !important;
        text-align: left !important;
    }
    h1{
        text-align: center !important;
    }
}
