/* simple and responsive grid*/

.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.column2{
    float: left;
    width: 50%;
    padding: 15px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

/*responsive screen*/
@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
    .column2{
        width: 100%;
    }
    .nave{
        position: static;
    }
    .nav-list li{
        float: none !important;
    }
    header h3{
        display: block;
        float: none;
        text-align: left;
    }
    h1{
        text-align: center !important;
    }
}
