body{
    margin: 0;
}

/* <navegator> */

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    opacity: 0.8;
    border: 1px solid #333;
    /* nav top fixed*/
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-list li{
    float: left;
}
.nav-list li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 1em;
}
.nav-list li a:not(.active):hover{
    background-color: #111;
    opacity: 1.0;
}
.active{
    background-color: red;
}

/* </navegator> */

/* <title> */
h1{
    max-width: 20%;
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -3px;
    height: 20px;
    display: block;
}
h1 a{
    padding: auto;
    color: #33001a;
    text-shadow: 3px -3px 4px #ff99cc;
}
h1 span{
    display: none;
}
h1:hover span{
    display: inline-block;
}
/* </title> */
p{
    border: 2px solid black;
    outline: 2px solid yellow;
    width: 80%;
    margin: 20px auto;
        /* outline to make a border on the border */
    outline-offset: 2px;
    padding: 5px;
    font-family: monospace;
    font-size: x-large;
    text-align: justify;
    /* identation for the first paragraph of a text*/
    text-indent: 50px;
    /* Determine spacing between the letters!*/
    letter-spacing: 3px;
    /* determine the spacing between the lines*/
    line-height: 1.5;
    /*Word Spacing determine the spacing between the words!*/
    word-spacing: 2px;
}
a{
    text-decoration: none;
}
p a{
color: chartreuse;
}
.bold{
font-weight: bolder;
}

/* <footer> */
.footer{
text-align: center;
background-color: #111;
opacity: 0.8;
overflow: hidden;
color: white;
height: 20px;
margin: 1px;
padding: 15px;
font-size: 0.95em;
}
/* </footer> */