*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* <navegator> */

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 1.25em;
}
.nave{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.nav-list li{
    float: left;
}
.nav-list li > a, dropbtn{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
}
.nav-list li > a:not(.active):hover, dropbtn:hover{
    background-color: #111;
}
.active{
    background-color: red;
}

/* </navegator> */

/*Dropdown*/
li.dropbtn{display: inline-block;}
.dropdown-content{
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 160px;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
}
.dropdown-content a:hover{background-color: #f1f1f1;}
.dropdown:hover .dropdown-content{display: block;}

/*Header*/
header{
    background-color: #f1f1f1;
    text-align: center;
}
h1, header h3{
    display: inline-block;
}
header h3{
    padding: 20px;
    margin:0 auto;
    color: rgb(253, 227, 177);
    text-shadow: 3px -3px 3px rgba(37, 88, 52, 0.5);
    float: right;
}
/* <title> */
@font-face{
    font-family: branda;
    src: url(fonts/brandafont.ttf);
}
@font-face{
    font-family: wavepool;
    src: url(fonts/wavepoolfont.ttf);
}
h1{
    font-family: branda, serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0px;
    width: auto;
}
h1 a{
    color: #504c4c;
    text-shadow: 3px -3px 4px #afaeae;
    padding: 5px;
}
h1 span{
    color: red;
    text-shadow: 3px -3px 4px #af9d9d;
}
h1 a:hover{
    color: rgb(230, 22, 22);
    text-shadow: 3px -3px 4px #af9d9d;
}
h2{
    text-align: center;
}
/* </title> */
p{
    text-align: justify;
    font-family: monospace;
    font-size: x-large;
    text-align: justify;
    /* identation for the first paragraph of a text*/
    text-indent: 50px;
    /* Determine spacing between the letters!*/
    letter-spacing: 2px;
    /* determine the spacing between the lines*/
    line-height: 1.5;
    /*Word Spacing determine the spacing between the words!*/
    word-spacing: 1px;
}
a{
    text-decoration: none;
}
p a{
color: chartreuse;
}
.bold{
font-weight: bolder;
}

/* <footer> */
.footer{
text-align: center;
background-color: #f1f1f1;
opacity: 0.8;
overflow: visible;
color: black;
height: 20px;
margin: 0;
padding: 30px;
font-size: 0.95em;
}
/* </footer> */

/*imgs*/
.galery{
    border: 2px solid #504c4c;
    max-width: 100% !important;
    background-color: deepskyblue;
}
.desc{
    padding: 5px;   
}
.galery h3{
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    color: white;
}
img{
    max-width: 100% !important;
    height: auto;
}

/*Aside*/
aside{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
aside h3{
    color: rgb(104, 18, 18);
    font-size: 1.25em;
}
aside h3::first-letter{
    color: rgb(119, 119, 119);
}
aside h3 span{
    color: orangered;
}