body{
    margin: 0;
}
/* <navegator> */

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 1.0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.nave{
    position: sticky;
    top: 0;
}
.nav-list li{
    float: left;
}
.nav-list li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
}
.nav-list li a:not(.active):hover{
    background-color: #111;
}
.active{
    background-color: red;
}

/* </navegator> */
header h1, header h3{
    display: inline-block;
}
header h3{
    float: right;
    padding: 20px;
    margin-bottom: 0;
    color: rgb(253, 227, 177);
    text-shadow: 3px -3px 3px rgba(37, 88, 52, 0.5);
}
/* <title> */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -3px;
    max-width: 30%;
}
h1 a{
    color: #cc0000;
    text-shadow: 3px -3px 4px #ff99cc;
}
h1 span{
    display: none;
}
h1:hover span{
    display: inline;
}
/* </title> */
p{
    border: 1px solid black;
    outline: medium solid yellow;
    max-width: 80%;
    margin: 20px auto;
        /* outline to make a border on the border */
    outline-offset: 2px;
    padding: 5px;
    font-family: monospace;
    font-size: x-large;
    text-align: justify;
    /* identation for the first paragraph of a text*/
    text-indent: 50px;
    /* Determine spacing between the letters!*/
    letter-spacing: 3px;
    /* determine the spacing between the lines*/
    line-height: 1.5;
    /*Word Spacing determine the spacing between the words!*/
    word-spacing: 2px;
}
a{
    text-decoration: none;
}
p a{
color: chartreuse;
}
.bold{
font-weight: bolder;
}

/* <footer> */
.footer{
text-align: center;
background-color: #111;
opacity: 0.8;
overflow: visible;
color: white;
height: 20px;
margin: 0;
padding: 15px;
font-size: 0.95em;
}
/* </footer> */